.title{
    text-align: center;
    margin-bottom: 15px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.table tr{
    height: 60px;
}

.table td,
.table th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even){
    background-color: #fff;
}

.table svg{
    width:20px;
    height: 20px;
}

.table thead{
    background-color: #fff;
}

.link{
    color: #111;
}

.deleteButton{
    width: 50px;
    height: 50px;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.deleteButton svg{
    width: 20px;
    height: 20px;
}

.edit{
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.delete{
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}